@import "./pages/Home/index.scss";
@import "./pages/MovieDetail/index.scss";
@import "./components/header/index.scss";
@import "./components/MovieCard/index.scss";
@import "./styles/slick-theme.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');


:root {
  
  // Tipografia
  --font-primary: 'Poppins', sans-serif;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-2xl: 2rem;
  
  // Pesos da fonte
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;
  --font-black: 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
}

body {
  background-color: #000;
  color: var(--text-primary);
}

body{
  background-image: url('/universe1.jpg');
}